body{
	background-color: #61A5D9;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial';
}
.principal{
	background-color: #9561D9;
	padding: 20px;
	text-align: center;
	font-family: 'Arial';
	height: 100px;
	display: flex;
	justify-content: center;
	grid-gap: 40px;
	margin: 50px;
	border-radius: 10px;
}
.titulo{
	letter-spacing: 2px;
	text-align: center;
	margin: 30px;
	color: #616AD9;
}
.ed{
	text-align: center;
	font-family: 'Roboto';
	letter-spacing: 4px;
}
a{
	color: black;
	text-decoration: none;
	background-color: #9C93F8;
	font-family: 'Arial';
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
	text-align: center;
}	
a:hover{
	background-color: #CE93F8;
	padding: 10px;
}
div{
	display: flex;
	justify-content: center;
}
.body2{
	background-color: seagreen;
}
.titulo2{
	letter-spacing: 2px;
	text-align: center;
	margin: 30px;
	color: #BDF893;
}
.a2{
	color: black;
	text-decoration: none;
	background-color: #93F89B;
	font-family: 'Arial';
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
	display: flex;
	justify-content: center;
	margin: 50px;
}
.a2:hover{
	background-color: #F0F893;
	padding: 10px;
}
.txp{
	font-family: 'Arial';
	text-align: center;
	color: #1FADFF;
	background-color: #1FFFE1;
	border-radius: 15px;
	margin: 70px;
}
.mat{
	font-size: 20px;
	margin: 40px;
	border-radius: 15px;
}
.crd .dfg{
	display: flex;
	justify-content: center;
}