body{
  background-color: white;
  background-image: url(../image-fundo.png);
  background-repeat: no-repeat; 
  text-align: center;
}
h1{
  color: #F0F8FF;
  background-color: #121212; /* preto carvão */
}
h2{
  color: #D84315; /*vermelho brasa */
}
p{
  color: black;
}
li{
  list-style-position: outside;
} 
footer {
  position: 
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 5px;
  padding: 5px
  color:white;
  background-color:#90EE90
}
ul {
  list-style-type: none;
}

