body{
	background-color: white;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	color: white;
	background-color: #8B0000;
}
h2{
	color: black;
}
p{
	color: 	black;
} 
li{
	color: #A0522D;
	font-size: larger;
}
footer{
	background-color: #228B22;
	margin: 20px;
	padding: 20px
}
#final{
	background-color: #8B0000;
}
#boa{
    background-color: white;
}
#letra{
	color: white;
}