body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
}

h1{
    font-size: 38px;
    color: #006400;
}

h2{
    font-size: 28px;
    color: #0b5ed7;
}

p{
    font-size: 20px;
    width: 80%;
    margin: 20px auto;
}

ul{
    list-style: none;
    padding: 0;
    font-size: 20px;
}

li{
    margin: 8px 0;
}

nav a{
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    color: white;
    background: #006400;
    padding: 10px 20px;
    border-radius: 5px;
}

nav a:hover{
    background: #228b22;
}

footer{
    margin-top: 40px;
    background: #006400;
    color: white;
    padding: 15px;
    font-size: 18px;
}

.logo{
    width: 180px;
    margin: 20px auto;
    display: block;
}

#principal{
    width: 40%;
    margin: auto;
}
footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    gap: 20px;
}

.galeria img {
    width: 300px;
    height: 300px;
}
.voltar-topo {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #006400;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.voltar-topo:hover {
    background-color: #228B22;
}
html {
    scroll-behavior: smooth;
}