body{
background-image: url(img/fundo.png);
background-color: gray;
background-position: center;
background-size: cover;
text-align: center;
font-family: Calibri, Helvetica, Arial, sans-serif 
}
h1{
color: white;
background-color: black;
}
h2{
color: black;
}
h3{
color: orange;
}
h4{
color:white;
}
p{
color:black;
}
footer{
margin-top: 5px;
padding: 5px;
color: green; 
background-color: green; 
}
strong{
color:green;
}
a{
color:blue;
}
