body{
	margin: 25px;
	background-image: url(../img/fundo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #F5F5F5; /* preto carvão */
	background-size: cover;
	text-align: center; /* Alinhamento centralizado */
	
}
h1{
	font-size: 75px;
	background-color: #0077bdff;
	color: #ffffffff;
}
p{
	color: #656565ff; /* branco quente */
	font-size: 35px;
}
a{
	color: #0077bdff;
}
.link{
	font-size: 25px;
}
.explicacao{
	font-size: 45px;
}
footer{
	padding: 5px;
	margin-top: 10px;
	background-color: #f2f2f2ff;
}
